#menu {
    margin: auto;
    max-width: 90%;

    height: 100vh;
    display: flex;
    align-items: center;
    
}

#menu-items {
    margin: auto;
    position: relative;
    z-index: 3;

}

#menu-items:hover>.menu-item {
    opacity: 0.3;
    transition: 60ms linear;
}

#menu-items:hover>.menu-item:hover {
    opacity: 1;
    transition: 60ms linear;
}

.menu-item {
    font-family: var(--text-sans);
    color: var(--color-white);
    font-size: clamp(2rem, 6vw, 6rem);
    
    display: block;
    text-decoration: none;
    padding: clamp(0.5rem, 0.1vw, 2rem) 0rem;

    transition: opacity 250ms ease;
}