@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root {
    --text-deco: 'Nabla', cursive;
    --text-sans: 'Open Sans', sans-serif;

    --color-1: #3838a6;
    --color-2: #3e3e66;
    --color-3: #d16c37;
    --color-4: #e29948;
    --color-5: #ebdff4;
    --color-6: #916faf;
    --color-7: #452c57;
    --color-8: #120B16;
}

body {
    background-color: var(--color-8);
    margin: 0px;
}

#menu {
    height: 100vh;
    align-items: center;
}

#sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    position: relative;
}

#profile-icon {
    max-width: 25vw;
    filter: brightness(0) invert(1) sepia(100%) saturate(7488%) hue-rotate(353deg) brightness(75%) contrast(110%);
}

form {
    padding: 1em;
    font-family: var(--text-sans);
    align-items: center;
}

form label {
    color: var(--color-5);
}

#menu-background-pattern {
    width: 100vw;
    height: 100vh;

    background-image: url('');
    background-position: 0% 0%;
    background-size: 3vmin 3vmin;
    filter: brightness(20);

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#menu-background-pattern::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(69, 44, 87, 0.05);
    z-index: 2;
}